@page
@model ASI_eSport.Pages.Competitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.LibelleCompetion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.LibelleCompetion)
        </dd>
    </dl>
</div>
<div>
    <h5>Jeu(x) de la copétition</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Libellé du jeu
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Competition.Jeux_Competitions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeJeu.LibelleJeu)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Competition.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
