@page
@model ASI_eSport.Pages.JeuxCompetition.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jeu_competition</h4>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Jeu_competition.LaCompetitionID" class="control-label"></label>
                    <input asp-for="Jeu_competition.LaCompetitionID" class="form-control" />
                    <span asp-validation-for="Jeu_competition.LaCompetitionID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Jeu_competition.LeJeuID" class="control-label"></label>
                    <select asp-for="Jeu_competition.LeJeuID" class ="form-control" asp-items="ViewBag.LeJeuID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>*@
<h4>Nouveau jeu pour @Html.DisplayFor(model => model.Competition.LibelleCompetion)</h4>
<hr />
<a asp-page="./Index" asp-route-id="@Model.Competition.ID">Revenir à la liste des jeux</a>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Jeu_competition.LaCompetitionID" value="@Model.Competition.ID" />
            <div class="form-group">
                <label asp-for="Jeu_competition.LeJeuID" class="control-label"></label>
                <select asp-for="Jeu_competition.LeJeuID" class="form-control" asp-items="ViewBag.LeJeuID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-id="@Model.Competition.ID">Retour à la compétition</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
